rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /Items/{name} {
      allow read: if true;
    }
    
    match/{uid}/{uploadID} {
    	allow read, write: if true
    }
  }
}
